body{
     background-color: black;

}
#home{
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 40px;
   color: yellow;
   margin-left: 233px;
   text-decoration: none;
}

section#logar{
   background-image: url(../imagens/images.jfif);
   background-size: cover;
   color: yellow;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   flex-direction: column;
   border-radius: 20px;
   background-color: rgb(132, 16, 16);
     width: 40rem;
     height: 38rem;
     font-size: 45px;

}
section#container{
   display: flex;
   justify-content: center;
   align-items: center;
    width: 100vw;
    height: 100vh;
}
.inputs{
   border-radius: 20px;
    width: 50%;
    height: 9%;
    
}
#menu li a:hover{
   list-style: none;
 color: rgb(255, 47, 47);
 transition: 1.5s;
 }
 .textos{
margin-bottom: 0%;
}
#meenu{
   margin: 0;
    width: 100vw;
    height: 3rem;
    background-color: rgba(120, 117, 116, 0.334);

}
#mapa{
display: flex;
justify-content: center;
}
#maps{
   height: 45vh;
   width: 30vw;
}
#footer{
   color: aliceblue;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 12vh;
   width: 12vw;
}